:root {
    --background: #ededed;
    --border: #222;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-element {
    border: 1px solid var(--border);
    background-color: var(--background);
}

body {
    background-color: var(--background);
    font-size: 1.6rem;
    text-align: center;
}

.grid {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    border: 2px solid var(--border)
}

.button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
}